/*external style sheet*/

h1 {
	color: red;
    font-size: 80px;
    font-family: Impact, Monospace;
}
title {
	font: impact;
	color: black;
}
body {
	background-color: black;
}

p {
    color: white;
    font-size: 40px;
    font-family: Impact, Monospace;
}

div.Welcome {
	background-color: navy;
	width: 200px;
	padding: 25px;
	border: 25px darkSlateGray;
	border-radius: 50%;
}
div.choices {
	width: 200px;
	padding: 25px;
	border: 25px darkSlateGray;
}
div.solarSystem img{
	height: 540px;
	width: 960px;
}
div.consolButton{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-Align: center;
	line-height: 100px;
	background-color: DimGray;
	
}

a:link {
	color: red;
	
}
a:visited {
	color: FireBrick;
}
a:hovor {
	color: darkred;
}
 h2 {
    color: red;
    font-size: 80px;
    font-family: Impact, Monospace;
  }